# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
media/

# Environment
.env

# Frontend
node_modules/
dist/
uploads/
media/
*.jpg
*.png

# Django migrations
**/migrations/*
!**/migrations/__init__.py


node_modules/